<ion-header>
  <ion-toolbar>
    <ion-title>
      Simplyfy tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="8">
        <ion-select class="ion-text-wrap">
          <ion-select-option value="todo" selected>Todo</ion-select-option>
          <ion-select-option value="completed">Completed</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="newItem()">
          Add
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item *ngFor="let todo of todos">
          <ion-input [(ngModel)]="todo.text"></ion-input>
          <ion-checkbox slot="start" [(ngModel)]="todo.isChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-card (swipe)="swipeEvent($event)">
        <ion-item *ngFor="let todo of todos">
          {{todo.text}}
        </ion-item>
      </ion-card>



  </ion-grid>






</ion-content>