<ion-header>
  <ion-toolbar>
    <ion-title>
      Simplyfy tasks 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="4">
        <ion-select [(ngModel)]="taskType" (ionChange)="udpateTasksToDisplay()">
          <ion-select-option value="todo" selected>Todo</ion-select-option>
          <ion-select-option value="completed">Completed</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="taskType === 'todo'">
      <ion-col size="12">
        <ion-item>
          <ion-input [(ngModel)]="newTask" (keyup.enter)="udpateTodo()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item-sliding *ngFor="let task of tasksToDisplay">
      <ion-item-options side="start">
        <ion-item-option color="primary" expandable (click)="moveToComplete(task.index, task.value)">
          Complete
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{task.value}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" expandable (click)="moveToComplete(task.index, task.value)">
          Complete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-grid>






</ion-content>